// https://dribbble.com/shots/6335641-Era-Dink/attachments
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}
h2 {
    color:white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #a621be;
    @include bp-md(max) {
        font-size: 26px;
    }
}
.quote {
    border: 1px solid orange;
    border-radius: 20px;
    padding: 25px;
    background-color: orange;
    color: white;
    width: 100%;
    @include bp-xs(max) {
        border-radius: 20px;
        padding: 25px;
    }
    @include bp-sm(max) {
        border-radius: 22px;
        padding: 30px;
    }
    p {
        font-weight: bold;
        font-size: 20px;
        small {
            font-weight: normal;
            font-size: 17px;
        }
    }    
}
.button {
    width: 100%;
    height: auto;
    color: white;
    &-lg {
        border-radius: 25px;
        font-size: 20px;
    }
    &-orange {
        background-color: orange;
        border-color: orange;
        color: white;
        &:hover {
            background-color: orange;
            border-color: orange;
            color: #a621be;
        }
        &:focus {
            background-color: #a621be;
            border-color: #a621be;
            color: orange;
        }
    }
    
}